

.app {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr;
    grid-gap: 4px;

    grid-template-areas:
    'header header'
    'navbar content';
}

.content {
    grid-area: content;
    background: green;
}